<main style="min-height:80vh">
  <!-- Form for creating project -->
    <div class="create-project-form my-4 w-50 mx-auto bg-dark py-5 rounded">
        <form class="w-75 mx-auto p-4 bg-white rounded" action="/create-project" method="POST">
            <div class="row m-3">
                <input type="text" name="name" class="form-control col" placeholder="Repository name" required>
            </div>
            <div class="row m-3">
                <textarea type="text" name="description" class="form-control col " placeholder="Description" required></textarea>
            </div>
            <div class="row m-3">
                <input type="text" name="author" class="form-control col me-2" placeholder="Author name" required>
                <button type="submit" class="btn btn-success col-4 ms-2">Create Project</button>
            </div>  
        </form>
    </div>

    <!-- List of all created project -->
    <div class="issue-container w-50 mx-auto p-2" style="background: linear-gradient(45deg, rgba(20,9,121,1) 15%, rgba(56,209,210,1) 60%);">
      <% for(let project of projects ){ %>
        <div class="card mx-2 my-3">
          <div class="card-header d-flex justify-content-between	">
            <h5 class="d-inline-block" ><%= project.name %></h5>
              <a href="/destroy/<%= project._id %>" class="btn btn-danger">Delete</a>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= project.author %> </h5>
            <p class="card-text"><%= project.description %> </p>
            <a href="/view-project/<%= project._id %>" class="btn btn-primary">View</a>
          </div>
        </div>
      <% } %>

       <!-- IF THERE IS NO PROJECT  -->
      <% if(projects.length == 0){ %>
        <div class="card mx-3 my-2" style="background-color: #ffff80;">
          <h5 class="card-header text-danger">Empty Project !</h5>
          <div class="card-body">
            <p class="card-text text-danger">!Oops your Project list is empty ,</p>
            <p class="card-text text-danger">Dont panic :) just add something here and track issue</p>
          </div>				
        </div>
      <% } %> 
    </div>
</main>